*{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;;
}
.debug{
  background-color: rgb(51, 66, 66);
  border: 1px solid black;
}
.d-flex{
  display: flex;
}
/* header inizio */
header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.logo{
  padding: 30px 10px;
  font-size: 85px;
}

.left-nav{
  position: absolute;
  left: 150px;
}
.right-nav{
  margin-top: 45px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  display: inline-block;
  color: #201F20;
  padding: 5px 10px;
  font-size: 1.1rem;
}
nav ul li a:hover{
  color:#094CB8;
}
#click{
  display: inline-block;
  background-color: #094CB8;
  color: white;
  width: 70px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
/* fine header */
.container{
  width: 99%;
  max-width: 950px;
  margin: 0 auto;
}
#jumbotron{
  background-color: #B4D0E7;
  height: 550px;
}
.title{
  justify-content: flex-start;
  height: 180px;
  width: 900px;
  font-size: 1.7rem;
  padding: 40px 0;
}
.container .box-text{
  width: 98%;
  max-width: 320px;
  height: 350px;
  flex-direction: column;
}
.container .box-img{
  width: 98%;
  max-width: 580px;
  height: 350px;
}
.btn {
  padding: 10px 10px;
  background-color: #003A99;
  color: white;
  width: 150px;
  height: 35px;
  margin-left: 0;
  width: 98%;
  max-width:98%;
  margin-top: 15px;
  
}
.btn a{
  color: white;
  text-decoration: none;
  width: 98%;
}
.mb-m{
  margin-bottom: 15px;
}
.descrione{
  margin-left: 0;
}
.lang{
  margin-left: 0;
  height: 40px;
  margin-top: 40px;
}
.lang .row i{
  width: 98%;
}
.container .box-img img{
  max-width:130%;
  
}

