*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;;
}
.debug{
  background-color: aqua;
  border: 1px solid black;
}
/* header inizio */
header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.logo{
  padding: 30px 10px;
  font-size: 85px;
}

.left-nav{
  position: absolute;
  left: 150px;
}
.right-nav{
  margin-top: 45px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  display: inline-block;
  color: #201F20;
  padding: 5px 10px;
  font-size: 1.1rem;
}
nav ul li a:hover{
  color:#094CB8;
}
#click{
  display: inline-block;
  background-color: #094CB8;
  color: white;
  width: 70px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
/* fine header */
.d-flex{
  display: flex;
}
h1{
  font-size: 3.2rem;
  text-align: left;
  
}
.jumbotron{
  background-color: #B4D0E7;
  height: 600px;
  justify-content: center;
}
.content{
  width: 750px;
  max-width: 800px;
  text-align: center;
  height: 150px;
  margin-top: 100px;
  

}




