*{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;;
}
.debug{
  background-color: rgb(51, 66, 66);
  border: 1px solid black;
}
.d-flex{
  display: flex;
}
/* header inizio */
header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.logo{
  padding: 30px 0px;
  font-size: 85px;
  margin-left: 0px;
}

.left-nav{
  position: absolute;
  left: 150px;
}
.right-nav{
  margin-top: 45px;
  margin-right: 0px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  display: inline-block;
  color: #201F20;
  padding: 5px 10px;
  font-size: 1.1rem;
}
nav ul li a:hover{
  color:#094CB8;
}
#click{
  display: inline-block;
  background-color: #094CB8;
  color: white;
  width: 70px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
/* fine header */
.container{
  width: 99%;
  max-width: 950px;
  margin: 0 auto;
}
#jumbotron{
  background-color: #B4D0E7;
  height: 550px;
}
.title{
  justify-content: flex-start;
  height: 180px;
  width: 900px;
  font-size: 1.7rem;
  padding: 40px 0;
}
.container .box-text{
  width: 98%;
  max-width: 320px;
  height: 350px;
  flex-direction: column;
}
.container .box-img{
  width: 98%;
  max-width: 580px;
  height: 350px;
}
.btn {
  padding: 10px 10px;
  background-color: #003A99;
  color: white;
  width: 150px;
  height: 35px;
  margin-left: 0;
  width: 98%;
  max-width:98%;
  margin-top: 15px;
  
}
.btn a{
  color: white;
  text-decoration: none;
  width: 98%;
}
.mb-m{
  margin-bottom: 15px;
}
.mb-ml{
  margin-bottom: 30px;
}
.descrione{
  margin-left: 0;
}
.lang{
  margin-left: 0;
  height: 40px;
  margin-top: 40px;
}
.lang .row i{
  width: 98%;
}
.container .box-img img{
  max-width:130%; 
}
/* inizio main section  */
.mb-big{
  margin-bottom: 50px;
}
.container-section{
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
}
.small-title{
  justify-content:fl;
  height: 100px;
  width: 550px;
  font-size: 1.2rem;
  margin-left: 0;
  margin-top: 100px;
  max-width: 99%;
  padding: 10px;
}
.mg-right{
  margin-left:0px;
}
.mb-l{
  margin-bottom: 30px;
}
.bottons{
  justify-content: flex-start;
  height: 40px;
  width: 300px;
  margin-left: 0;
  max-width: 100%;
  width: 55%;
  padding: 10px 5px;
}
.colonne{
  justify-content: space-between;
  height: 750px;
  flex-wrap: nowrap;
}
.singolo{
  width: 220px;
  border: 1px solid #E0E0E2;
  margin-left: 0;
}
.padding-left{
  padding-left: 15px;
}
.starter{
  text-align: center;
  height: 30px;
  padding: 5px;
  border: 1px solid #E0E0E2;
}
.padding-top{
  padding-top: 15px;
}
.padding-top-big{
  padding-top: 35px;
}
.padding-top-sml{
  padding-top: 8px;
}
.periodo-abb{
  color: #E0E0E2;
  font-size: 11px;
}
.info-1 span{
font-size: smaller;
line-height:5px;
}
.botton-cta{
  width: 180px;
  height: 31px;
  background-color: #094CB8;
}
.botton-cta a{
  width: 90%;
  padding:10px 10px ;
  text-decoration: none;
  color: white;
  font-size: smaller;
}
.font{
  font-size: smaller;
}
.hr-box{
  width: 30px;
  height: 20px;
  margin-left:15px;
  border-bottom: 1px solid #F3F3F4;
  margin-bottom: 30px;
  margin-top: 30px;
}
.punti-salienti{
  margin-left: 15px;
  margin-bottom: 20px;
}
.container-buttom{
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  height: 190px;
  margin-top: 35px;
  position: relative;
  border: 2px solid #F3F3F4;
}
.top-box{
  text-align: center;
  font-size: smaller;
  border-bottom: 1px solid #F3F3F4;
  padding-top: 12px;
  padding-bottom: 12px;
}
.entreprise-text p{
  font-size: smaller;
}
.entreprise-text{
  max-width: 470px;
  margin-left: 12px;
}
.botton-table{
  position: absolute;
  top: 60px;
  right: 25px;
  width: 98%;
  max-width: 98%;
  width: 180px;
  height: 31px;
  background-color: #094CB8;
}
.botton-table a{
  font-size: small;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.container-buttom-double{
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  height: 370px;
  margin-top: 35px;
  

}
.box-img-buttom img{
  width: 100%;
  height: 350px;
}
.container-buttom-double .box-text-buttom{
  width: 45%;
  padding-top: 40px;
  max-width: 85%;
  paddi

}



